.App {
  text-align: center;
  color: #F5F1F1;
  background-color: #E9AC06;
  height: 80vh;

  @font-face {
    font-family: 'UhBeeZZIBA-Regular';
    src: url('../src/fonts/UhBeeZZIBA-Regular.ttf');
    font-weight: normal;
    font-style: normal;
  }
    
}

.Title {
  text-align: center;
  color: #F5F1F1;
  font-size: 100px;
  background-color: #E9AC06;
  height: 20vh;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}